.kaleidoscope-background {
  background-image:
    repeating-linear-gradient(45deg,
      #ff69b4, #e74c3c, #ff69b4, #e74c3c),
    repeating-linear-gradient(-45deg,
      #ff69b4, #e74c3c, #ff69b4, #e74c3c);
  background-size: 200px 200px;
  background-position: 0% 0%, 100% 100%;
  animation: kaleidoscope 10s infinite;
}

@keyframes kaleidoscope {
  0% {
    background-position: 0% 0%, 100% 100%;
  }

  100% {
    background-position: 100% 0%, 0% 100%;
  }
}