.font-effect-neon-red {
  font-size: 3em;
  font-family: "Acme", "Neon", sans-serif;
  color: #000;
  text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #ff3737,
    0 0 30px #ff3737, 0 0 40px #ff3737, 0 0 55px #ff3737, 0 0 75px #ff3737;
  animation: flickers-red 2.2s infinite;
}

@keyframes flickers-red {
  0%,
  8%,
  12%,
  20%,
  35%,
  50%,
  100% {
    text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #ff3737,
      0 0 30px #ff3737, 0 0 40px #ff3737, 0 0 55px #ff3737, 0 0 75px #ff3737;
  }
  10%,
  18%,
  40% {
    text-shadow: none;
  }
}

.font-effect-neon-green {
  font-size: 3em;
  font-family: "Acme", "Neon", sans-serif;
  color: #000;
  text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #34c759,
    0 0 30px #34c759, 0 0 40px #34c759, 0 0 55px #34c759, 0 0 75px #34c759;
  animation: flickers-green 2s infinite;
}

@keyframes flickers-green {
  0%,
  12%,
  18%,
  25%,
  40%,
  50%,
  100% {
    text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #34c759,
      0 0 30px #34c759, 0 0 40px #34c759, 0 0 55px #34c759, 0 0 75px #34c759;
  }
  15%,
  22%,
  45% {
    text-shadow: none;
  }
}

.font-effect-neon-blue {
  font-size: 3em;
  font-family: "Acme", "Neon", sans-serif;
  color: #000;
  text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #45a9e6,
    0 0 30px #45a9e6, 0 0 40px #45a9e6, 0 0 55px #45a9e6, 0 0 75px #45a9e6;
  animation: flickers-blue 1.8s infinite;
}

@keyframes flickers-blue {
  0%,
  10%,
  15%,
  30%,
  50%,
  60%,
  100% {
    text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #45a9e6,
      0 0 30px #45a9e6, 0 0 40px #45a9e6, 0 0 55px #45a9e6, 0 0 75px #45a9e6;
  }
  12%,
  20%,
  55% {
    text-shadow: none;
  }
}

.font-effect-neon-pink {
  font-size: 3em;
  font-family: "Acme", "Neon", sans-serif;
  color: #000;
  text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #ff00de,
    0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 55px #ff00de, 0 0 75px #ff00de;
  animation: flicker 1.5s infinite;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 5px #111, 0 0 10px #222, 0 0 15px #333, 0 0 20px #ff00de,
      0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 55px #ff00de, 0 0 75px #ff00de;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
